.wrapper {
  display: flex;
  margin: 40px;
  border: 1px solid red;
  padding: 20px;
}

.postList {
  flex: 1;
  margin: 20px;
}

.postContent {
  flex: 1;
  margin: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ul {
  margin-top: 1rem;
  list-style-type: none;
  padding-left: 0;
  /* background-color: aqua; */
}

.ul :hover {
  cursor: pointer;
  opacity: 50%;
}

.post {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
}

.selected {
  background-color: #f5f5f4;
}

.id {
  /* background-color: aqua; */
  font-weight: 800;
  flex-shrink: 0;
  margin-right: 10px;
}

.comment {
  padding: 0.5rem;
  margin-left: 0;
  /* margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; */
}

.email {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* .p {
  margin-top: 1rem;
} */

.divider {
  width: 0.125rem;
  background-color: #e7e5e4;
}
